/* //// footer */

.footer-cont {
  background-color: #001120;
  padding: 16px 32px;
}

.fa-mobile {
  font-size: 20px;
}

#contact {
  font-size: 15px;
}

.grey-text {
  color: lightgrey;
}
.footer-links div > a {
  border-right: 1px solid rgb(147, 194, 219);
}
footer a {
  color: #ed72c0;
  font-weight: bold;
}
footer a:hover {
  color: #05abff;
  text-decoration: none;
}
.footer-socials div.fa {
  color: #fff;
}