/* //// footer */

.footer-cont {
  background-color: #001120;
  padding: 16px 32px;
  border-radius: 50px 50px 0px 0px;
}

.fa-mobile {
  font-size: 20px;
}

.footer-cont .logocont {
  position: relative;
  margin-inline: 20px;
  filter: brightness(10);
}

#contact {
  font-size: 15px;
}

.grey-text {
  color: #93c2db;
}
.grey-text:hover {
  color: #fff;
}
.footer-links {
  border-right: 1px solid rgb(147, 194, 219);
}
footer a {
  color: #ed72c0;
  font-weight: bold;
}
footer a:hover {
  color: #05abff;
  text-decoration: none;
}
.footer-socials {
  display: flex;
  justify-content: space-between;
  margin-top: 6px;
}
.footer-socials div.fa {
  color: #4b7492;
}
.footer-socials div.fa:hover {
  color: #fff;
}
